:root{
    --branco: #fff;
    --cinza: #efefef;
    --primary-color: #262835;
    --secondary-color: #ff5473;
    
}

:root .light-theme{
    --light-pink: #FF718B; 
    --primary-color: #fff;
    --secondary-color: #ff5473;
}