:root{

    --body: var(--primary-color);

    --primary-color: #262835;
    --secondary-color: #ff5473;
    --tertiary-color: #efefef; 
    --quaternary-color: #fff;

    --search-color: rgba(255, 255, 255, 0.2);

    --japanese-name-color: var(--search-color);
    --stats-title-color: var(--secondary-color);
    --stats-color: var(--primary-color);
    --return-button-color: var(--secondary-color);
    
}

:root .light-theme{

    --body: var(--primary-color);

    --primary-color: #fff;
    --secondary-color: #ff5473;
    --tertiary-color: #FF718B; 
    --quaternary-color: #ff5473;

    --search-color: rgba(255, 84, 115, 0.59);

    --japanese-name-color: var(--search-color);
    --stats-title-color: var(--primary-color);
    --stats-color: var(--primary-color);
    --return-button-color: var(--primary-color);

}

body{
    background: var(--body);
}
