@import '../../../config-scss/rem-calc.scss';


:host{
    form{
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: rem-calc(15) rem-calc(20);
        background-color: var(--search-color);

        border-radius: rem-calc(10);

        input{
            width: 95%;
            background: none;
            border: none;

            font-size: rem-calc(18);

            color: var(--primary-color);
            

            &::placeholder{
                color: var(--primary-color);
                opacity: 30%;
            }
        }
    }
}