@import '../../../config-scss/rem-calc.scss';

:host{
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: rem-calc(40) 0;

        .theme__button{
            position: relative;
            left: rem-calc(40);
            cursor: pointer;
            background: none;
            width: rem-calc(25);
            margin-top: rem-calc(5);
        }

        .pokedex__logo{
            width: rem-calc(180);
        }

        
    }
}